
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-weight: bold !important;
    font-family: "微軟正黑體" !important;
}
.wrap{
    margin: 0 auto;
    width: 1145px;
}
.content{
    height: 803px;
    background-color: RGB(231,238,234);
    position: relative;
}
.article{
    position: absolute;
    top: 40%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article h2{
    color: RGB(55,82,61);
    font-size: 28px;
    margin-top: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footmenu{
    display: flex;
}
.footmrnu li{
    width: 72px;
}

.article h1 a{
    background:url(https://hexschool.github.io/flexImgUrl/7/headerLogo.png) no-repeat;
    display: block;
    width: 159px;
    height: 162px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.footer>a{
    background: url(https://hexschool.github.io/flexImgUrl/7/footerLogo.png) no-repeat;
    display: block;
    width: 205px;
    height: 43px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px 50px;
}

.footmenu li a{
    display: block;
    padding: 30px 24px;
    text-decoration: none;
    color: #000;
    text-align: center;
}
.footmenu li a:hover{
    background-color: rgb(146, 213, 146);
    color: rgb(61, 148, 61);
}